.header{
    height: 200px;
    
    background-image: url('../cv.jpg');
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
form{
    
    background-image: url('../img/T13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px;
    color: black;
    background-blend-mode :hue;
    font-weight: 100%;
    box-shadow: 30px 30px 30px gray ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
   
}